<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="style.css" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Emporium</title>
	</head>
	<body>
		<div class="grid-container">
			<header class="header">
				<div class="brand">
					<button onclick="openMenu()">&#9776;</button>

					<a href="index.html">Emporium</a>
				</div>
				<div class="header-links">
					<a href="cart.html">Cart</a>
					<a href="signin.html">Sign In</a>
				</div>
			</header>
			<aside class="sidebar">
				<h3>Shopping categories</h3>
				<button class="sidebar-button" onclick="closeMenu()">X</button>
				<ul>
					<li><a href="index.html">Pants</a></li>
				</ul>
				<ul>
					<li><a href="index.html">Shirt</a></li>
				</ul>
			</aside>
			<main class="main">
				<div class="content">
					<ul class="products">
						<li class="product">
							<img
								class="product-image"
								src="https://images.asos-media.com/products/nike-football-dry-academy-t-shirt-in-black/11707330-1-black?$XXL$&wid=513&fit=constrain"
								alt="Product"
							/>
							<div class="product-name">
								<a href="product.html">Slim shirt</a>
							</div>
							<div class="product-brand">Nike</div>
							<div class="product-price">$60</div>
							<div class="product-rating">
								4.5 Stars (10 Reviews)
							</div>
						</li>
						<li class="product">
							<img
								class="product-image"
								src="https://images.asos-media.com/products/nike-football-dry-academy-t-shirt-in-black/11707330-1-black?$XXL$&wid=513&fit=constrain"
								alt="Product"
							/>
							<div class="product-name">
								<a href="product.html">Slim shirt</a>
							</div>
							<div class="product-brand">Nike</div>
							<div class="product-price">$60</div>
							<div class="product-rating">
								4.5 Stars (10 Reviews)
							</div>
						</li>
						<li class="product">
							<img
								class="product-image"
								src="https://images.asos-media.com/products/nike-football-dry-academy-t-shirt-in-black/11707330-1-black?$XXL$&wid=513&fit=constrain"
								alt="Product"
							/>
							<div class="product-name">
								<a href="product.html">Slim shirt</a>
							</div>
							<div class="product-brand">Nike</div>
							<div class="product-price">$60</div>
							<div class="product-rating">
								4.5 Stars (10 Reviews)
							</div>
						</li>
						<li class="product">
							<img
								class="product-image"
								src="https://images.asos-media.com/products/nike-football-dry-academy-t-shirt-in-black/11707330-1-black?$XXL$&wid=513&fit=constrain"
								alt="Product"
							/>
							<div class="product-name">
								<a href="product.html">Slim shirt</a>
							</div>
							<div class="product-brand">Nike</div>
							<div class="product-price">$60</div>
							<div class="product-rating">
								4.5 Stars (10 Reviews)
							</div>
						</li>
					</ul>
				</div>
			</main>
			<footer class="footer">All rights reserved.</footer>
		</div>
		<script>
			function openMenu() {
				document.querySelector(".sidebar").classList.add("open");
			}
			function closeMenu() {
				document.querySelector(".sidebar").classList.remove("open");
			}
		</script>
	</body>
</html>
